
@font-face {
  font-family: 'Debonair';
  font-style: normal;
  font-weight: 400;
  src: url('./media/Debonair1.ttf');
  src: local('Debonair'), local('Debonair'),
  url('./media/Debonair1.ttf') format('truetype'); /* Safari, Android, iOS */
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: sans-serif;
}
