
$color-white-transparent: white;


$color-dark: #A5DDE4;
$color-white: white;
$color-blue: black;
$color-yellow: rgb(165, 221, 228);
$color-green: #8DD6E0;


a {
  color: black;
}
.fade-appear {
  .background {
    animation: appear 2s;
  }
  &.landing {
    .container.first-load {
      animation: appear-text 2s;
      //animation-delay: 2s;
    }
  }
}


@keyframes appear-text {
  0% {
    opacity: 0;
    //h1 {
    //  opacity: 0;
    //}
    //p {
    //  opacity: 0;
    //}
  }
  40% {
    //h1 {
    //  opacity: 0;
    //}
  }
  50% {
    //h1 {
      opacity: 0;
    //}
  }
  90% {
    //p {
    //  opacity: 0;
    //}
  }
  100% {
    opacity: 1;
  }
}


.fade-enter {
  .background {
    animation: background-slide-out 2s;
  }
  .container {
    animation: entering-container-display 2s;
  }
}



.fade-exit {
  .background {
    opacity: 0;

  }

  .container {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    transition: opacity .5s ease .5s;
  }
}

.background {
  background-color: $color-dark;
  height: 200vh;
  top: -150px;
  left: -20vw;
  width: 55vw;
  min-width: 200px;
  position: absolute;
  z-index: -5;
  transform: rotate(10deg);
}


.text {
  position: absolute;
}

@media only screen and (max-width: 776px) {
  .about {
    &__image {
      display: none;
      margin-left: auto;
    }
  }
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../media/background.svg");
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}


@keyframes background-slide-out {
  0% {
    opacity: 1;
    transform: rotate(10deg);
    z-index: -1;
  }
  20% {
    transform: rotate(-20deg) translateX(-630px);
    z-index: 5;
  }
  45% {
    transform: rotate(-20deg) scaleX(7);
    z-index:200;
  }
  59% {
    opacity: 1;
    z-index: 200;
  }
  60% {
    transform: translateX(-630px) ;
    opacity: 1;
    z-index: 1;

  }
}
@keyframes appear {
  0% {
    transform: rotate(-20deg) scaleX(7);
    z-index:200;
  }
  44% {
    transform: rotate(-20deg) scaleX(7);
    z-index:200;
  }

  75% {
    transform: translateX(-630px) ;
    z-index: 1;
  }
}


@keyframes entering-container-display {
  0% {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    z-index: -20;
  }
  44% {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
  }
  45% {
    visibility: visible;
    opacity: 1;
    display: block;
    max-height: none;
  }
}

@keyframes exiting-container-hide {
  0% {
    opacity: 1;
  }
  20% {
    z-index:-10;
  }
  44% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {

  .container {
    width: 100vw;
    //top: 70px;
    //height: 75vh;
    padding-top: 0px !important;
    //margin-top: 60px;
    position: relative;

    .text {
      width: 100vw;
      overflow-y: scroll;
      max-height: 80vh;
      //overflow-wrap: break-spaces;
      //height: auto;
      font-size: 30px;
    }
  }

}

@media screen and (max-width: 450px){
  .background {
    left: -40vw;
  }
}