// VARIABLES
//$color-red: #75485E;
//$color-blue: #51A3A3;
//$color-green: #C3E991;
//$color-yellow: #DFCC74;
//$color-orange: #CB904D;

//$color-dark: #533747;
//$color-blue: #5F506B;
//$color-green: #6A6B83;
//$color-yellow: #86BBBD;
//$color-white: #76949f;

//$color-dark: #1B2021;
//$color-blue: #51513d;
//$color-green: #A6A867;
//$color-yellow: #E3DC95;
//$color-white: #E3DCC2;
//
//$color-dark: #0A0908;
//$color-blue: #22333B;
//$color-green: #C6AC8F;
//$color-yellow: #5E503F;
//$color-white: #EAE0D5;
//
//$color-dark: #3F4848;
//$color-blue: #B45540;
//$color-green: #98A8AA;
//$color-yellow: #F4BD39;
//$color-white: #F9FAF9;
$color-white-transparent: white;

//$color-dark: #341D1C;
//$color-blue: #89303C;
//$color-green: #659A9B;
//$color-yellow: #F9C48E;
//$color-white: #FEFEFE;

$color-dark: #A5DDE4;
$color-white: white;
$color-blue: black;
$color-yellow: rgb(165, 221, 228);
$color-green: #8DD6E0;


.fade-appear {
  .background {
    animation: appear 2s;
  }
  &.landing {
    .container {
      opacity: 0;
      animation: appear-text 3s;
      //animation-delay: 2s;
    }
  }
}


@keyframes appear-text {
  0% {
    //h1 {
    //  opacity: 0;
    //}
    //p {
    //  opacity: 0;
    //}
  }
  40% {
    //h1 {
    //  opacity: 0;
    //}
  }
  50% {
    //h1 {
      opacity: 0;
    //}
  }
  90% {
    //p {
    //  opacity: 0;
    //}
  }
  100% {
    opacity: 1;
  }
}


.fade-enter.fade-enter-active {
  .background {
    animation: background-slide-out 2s;
  }
  .container {
    animation: entering-container-display 2s;
  }
}



.fade-exit {
  .background {
    opacity: 0;

  }

  .container {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    transition: opacity .5s ease .5s;
  }
}

.background {
  background-color: $color-dark;
  height: 200vh;
  top: -150px;
  left: -20vw;
  width: 55vw;
  position: absolute;
  z-index: -5;
  transform: rotate(10deg);
}


.text {
  position: relative;
}

@media only screen and (max-width: 776px) {
  .about {
    &__image {
      display: none;
      margin-left: auto;
    }
  }
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("https://vectr.com/danielleleb/a6a26QPBoF.svg?width=640&height=640&select=a6a26QPBoFpage0");
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}


@keyframes background-slide-out {
  0% {
    opacity: 1;
    transform: rotate(10deg);
    z-index: -1;
  }
  20% {
    transform: rotate(-20deg) translateX(-530px);
    z-index: 5;
  }
  45% {
    transform: rotate(-20deg) scaleX(7);
    z-index:200;
  }
  59% {
    opacity: 1;
  }
  60% {
    transform: translateX(-530px) ;
    opacity: 1;
    z-index: 1;

  }
}
@keyframes appear {
  0% {
    transform: rotate(-20deg) scaleX(7);
    z-index:200;
  }
  44% {
    transform: rotate(-20deg) scaleX(7);
    z-index:200;
  }

  75% {
    transform: translateX(-530px) ;
    z-index: 1;
  }
}


@keyframes entering-container-display {
  0% {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    z-index: -20;
  }
  44% {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
  }
  45% {
    visibility: visible;
    opacity: 1;
    display: block;
    max-height: none;
  }
}

@keyframes exiting-container-hide {
  0% {
    opacity: 1;
  }
  20% {
    z-index:-10;
  }
  44% {
    opacity: 1;
  }
}

//@media screen and (max-width: 600px) {
//  .background {
//    width: 55vw;
//  }
//}