@import "App";
.footer {
    height: 10vh;
    //border: 1px solid black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 5px;
    position: absolute;
    bottom: 0;
    line-height: 10vh;
    z-index: 10;
    //background-color: rgba(106, 107, 131, 0.29);
    //position: relative;
    
    &__icons {
        display: flex;
        // line-height: 10vh;
        a {
            line-height: 10vh;
            margin: 0 10px;

        }
        svg {
            height: 30px;
            width: 30px !important;
            line-height: 10vh;
            vertical-align: middle;
            color: black;


        }
    }

    &__icon {
        display: inline;
        position: relative;
        &--linkedin {
            &:hover {
                svg {
                    color: $color-dark;
                    background-color: black;
                }

            }
        }
        &--github {
            svg {
                border-radius: 50%;
            }
            &:hover {
                svg {
                    color: $color-dark;
                    background-color: black;
                }
            }
        }
        &--codepen {
            svg {
                //border-radius: 50%;
            }
            &:hover {
                svg {
                    color: $color-dark;
                    background-color: black;
                }
            }
        }
    }
    &__copyright {
        display: inline-block;
        line-height: 0;
        // height: 10vh;
        // padding: 0 10px;

        color: #2E0219;
        vertical-align: middle;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        &__icons {
            flex-direction: column-reverse;
            a {
                line-height: 7vh;
            }
        }
    }

}