.header {
    width: 100%;
    padding: 20px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    top: 0;
    //background-color: rgba(196, 187, 175, 0.6);
    &__item {
        padding: 0 10px;
        display: inline;
    }
    &__link {
        text-decoration: none;
    }

  a {
    color: #4A001F;

  }

  &__left {
    a {
      color: rgba(196, 187, 175, 0.6);
    }
  }
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }