@import "App";
.header {
    width: 100%;
    padding: 20px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    &__item {
        padding: 0 10px;
      display: inline-block;
      position: relative;
      width: auto;
      margin-bottom: 40px;

      //&:hover {
      //  color: #2E0219;
      //  .header {
      //    &__half {
      //      transform: rotate(0deg) scale(1.3) translateY(-7px);
      //      background-color: rgba(196, 187, 175, 0.6);
      //      &--one {
      //
      //      }
      //    }
      //  }
      //}
    }
    &__link {
    //    text-decoration: none;
    //  position: relative;
    //  display: block;
    //  &:before {
    //    content: '';
    //    width: 0;
    //    height: 1px;
    //    top: 20px;
    //    background-color: $color-dark;
    //    position: absolute;
    //    display: block;
    //    z-index: -1;
    //    transition: width .3s linear;
    //
    //  }
    //  &.active{
    //  &:before {
    //    width: 0;
    //  }
    //}
    //  &:hover:before {
    //    width: 100%;
    //  }
    }

  &__hover {
    z-index: -1;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    opacity: .6;
    display: flex;
    align-items: center;
    position: absolute;
    bottom:-9px;
    transform: translateX(-50%);
    left: 50%;
  }

  a {
    color: black;

  }
  &__right {
    position: absolute;
    display: flex;
    z-index: 20;
    align-content: center;
    align-items: center;
    float: right;
    right: 0;
    top: 0;
  }

  &__left {
    position: absolute;
    top: 0;
    z-index: 20;
    font-family: 'Debonair';
    font-size: 50px;
    color: black;
    font-weight: 400;
    .link {
      margin-top: 10px;

    }

    .header__link {
      &:before {
        background-color: #ababab;
        top: 53px;
      }
    }
    a {
      height: 80px;
      width: 240px;
      position: absolute;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__desktop {

  }
  &__burger,
  &__burger--close{
    display: none;
  }
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
@media screen and (max-width: 500px) {
  .header {
    &__desktop {
      width: 100%;
      transition: all ease 1s;
      background-color: $color-dark;
      height: 100vh;
      position: absolute;
      z-index: 20;
      top: 0;
      opacity: 0;
      transform: translateY(-100%);
      &--open {
        opacity: 1;
        transform: translateY(0);
        .footer {
          bottom: 15vh;
          width: auto;
          transform: translateX(-50%);
          left: 50%;
          //top: 20px;
        }


      }
      .header {
        &__left {
          width: 100%;
          a {
            position: relative;
            margin: 0 auto;
            z-index: 21;
          }
        }

        &__right {
          display: block;
          margin: 0 auto;
          position: relative;
          right: 0;
          left: 0;
          bottom: 0;
          float: none;
          .link {
            top: 190px;
          }
        }

        &__item {
          top: 25vh;
          width: 100%;
          display: block;
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
    &__burger {
      display: inline;
      img {
        height: 40px;
        left: 10px;
        position: relative;
      }
      &--close {
        display: block;
        img {
          height: 30px;
          position: relative;
          top: 20px;
          left: 20px;
          z-index: 21;
        }
      }
    }
  }
}


.link {
  text-decoration: none;
  position: relative;
  display: block;
  //width: fit
  &:before {
    content: '';
    width: 0;
    height: 1px;
    top: 20px;
    background-color: $color-dark;
    position: absolute;
    display: block;
    z-index: -1;
    transition: width .3s linear;

  }
  &.active{
    &:before {
      width: 0;
    }
  }
  &:hover:before {
    width: 100%;
  }
}