.landing {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: #4A001F;



    &__text {
        margin: 0;
        background-color: rgba(196, 187, 175, 0.6);
        //opacity: .;
        font-size: 40px;
        padding: 10px;
        display: inline;
        //width: min-content;
    }

}

.container {
    width: 50vw;
    height: 80vh;
    //border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    //z-index: 2;
    overflow: hidden;

}