.portfolio {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    top: 0;
    padding-top: 150px;
    //padding-right:
    //align-items: flex-start;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}