@import "App";

.card {
  max-width: 300px;
  position: relative;
  margin: 0 2px;
  flex: 1 0 32%;
  min-width: 0;

  &--hovered {
    .card {
      height: auto;
      &__text {
        transform: translateY(0);
        padding-top: 150px;
        padding-bottom: 20px;
        height: auto;
        transition: all 2s ease;
        &--no-image {
              padding-top: 20px;
              bottom: 0;
              top: 0;
            }
      }
    }
  }

  &:nth-child(2) {
    h3 {
      font-family: 'Debonair';
      font-weight: 400;
      font-size: 45px;
      margin-bottom: 0;
      margin-top: 10px;
      text-align: center;
    }

    .card {
      &__text {
        height: auto;
        padding: 30px 20px 20px;
      }
    }
  }

  &:nth-child(7) {
    top: -510px;
  }

  &:nth-child(5) {
    top: -410px;
  }

  &:nth-child(4) {
    top: -100px;
  }

  &:nth-child(6) {
    top: -120px;
  }

  &__image-wrapper {
    position: relative;
    background-color: $color-yellow;
    width: 90%;
    border-radius: 7px;
    z-index: 1;
    margin: 0 auto;
    box-shadow: gray 1px 3px 19px 0px;
    padding: 5px;
  }
  &__image {
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__text {
    background-color: $color-white-transparent;
    padding: 150px 20px 20px;
    transition: all 2s ease;
    border-radiuS: 7px;
    position: relative;
    top: -150px;
    box-shadow: gray 1px 3px 19px 0px;

    &--no-image {
      padding-top: 20px;
      bottom: 0;
      top: 0;
    }

  }
  &__tech {
    &--item {
      background-color: #ababab;
      padding: 4px 5px;
      margin: 0 3px;
      font-weight: 600;
      border-radius: 2px;
      font-size: 14px;
    }
  }

  &__link{
    text-decoration: none;
    display: block;
    position: relative;
    background-color: transparent;
    svg {
      font-size: 18px;
      border-radius: 50%;
    }
    &:visited, &:hover  {
      color: black;
      svg {
        background-color: $color-dark;
      }
    }
    &:hover {
      .card__link--background{
        width: 100%;
      }
    }

    p {
      position: relative;
      display: initial;
    }
    
    &--text {
      right: 0;
      bottom: 0;
      position: relative;
    }
   &--background {
      background-color: $color-dark;
      width: 0;
      height: 20px;
      display: block;
      position: absolute;
      bottom: 0;
      transition: width .5s linear;
    }
    &--container {
      position: relative;
      display: flex;
      justify-content: space-between;

    }
  }

}

@media screen and (max-width: 900px) {
  .card {
    max-width: 100%;
    width: 100%;
    flex: none;
    top: 80px !important;
    margin-bottom: -50px;
    margin-top: -70px;
    position: relative;
    //height: 500px;
    &:nth-child(2) {
      order: 0;
      margin-bottom: 100px;
    }

    &:nth-child(1) {
      order: 1;
      //margin-top: 30px !important;
    }
  }
}