@import "App";
.card {
  height: 400px;
  width: 300px;
  //border: 1px solid black;
  color: rgba(255, 255, 255, 0.78);
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  //background-color: #775B59;
  transition: all .3s ease;
  //background-color: rgba(196, 187, 175, 0.9);
  background-color: $color-dark;
  //color: $color-white;
  //opacity: .95;
  padding: 20px;
  //color: white;
  //opacity: .3;

  &:hover {
    transition: all .3s ease;

    box-shadow: 0px 3px 20px 0px gray;
    opacity: 1;
  }

  &__tech {
    &--item {
      //background-color: rgb(196, 187, 175);
      background-color: $color-yellow;
      //color: $color-red;
      //border: 1px solid white;
      padding: 4px;
      display: inline;
      margin: 0 3px;
    }
  }
}